body {
  margin: 0;
  font-family: Nunito,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
  background-color: #fff;
}

.footer {
  bottom: 0px;
  position: fixed;
}

@media (min-width:1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
  }
}

.col-auto.col-lg-6.offset-lg-3.align-self-center {
  border-color: black;
  border: groove;
}

.col-auto.col-lg-6.offset-lg-3 {
  border: groove;
}

@media (min-width:576px) {
  .dropdown .dropdown-menu {
    width: 250px;
    right: 0;
    border: groove;
    border-radius: 20px;
  }
}

